language: python
addons:
	apt:
		sources:
		- chef-stable-precise
# cache:
#   directories:
#    - nidmresults-examples
# Enable Travis container-based infrastructure
sudo: true
python:
  - "2.7"
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: 
 # install git lfs
 - curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | sudo bash
 - sudo apt-get install git-lfs=1.1.0
 - git lfs install
 - pip --version 
 - git --version
 # Install current version of nidmresults
 - pip install git+https://github.com/incf-nidash/nidmresults.git#egg=nidmresults
# Install current version of nidmfsl
 - python setup.py install
 # Packages only needed for testing
 - pip install vcrpy
 - pip install ddt
 - pip install gitpython
 # - curl -sLo - https://github.com/github/git-lfs/releases/download/v1.1.0/git-lfs-linux-amd64-1.1.0.tar.gz | tar xzvf -
 # - cd git-lfs-*
 # - ./install.sh
# command to run tests, e.g. python setup.py test
script:  
 - python test/test_install.py  
 - python test/test_fsl_export.py 
 # - cat debug.log
# Update subtree nidm from main nidm repository
before_install: 
 - git config --global user.name "TravisCI"
 - git config --global user.email "travis@dummy.com"
 # Create subtree nidm from main nidm repository
 - git remote add nidm https://github.com/incf-nidash/nidm.git
 - git fetch nidm
 - git fetch nidm --tags
 - git subtree add --prefix nidm nidm/master --squash
 - git subtree add --prefix nidm_releases/1.0.0 nidm tags/NIDM-Results_1.0.0 --squash
 - git subtree add --prefix nidm_releases/1.1.0 nidm tags/NIDM-Results_1.1.0 --squash